body{
background-image:url("CSS.jpg");
background-repeat: no-repeat;
background-position:center center;
  margin-left: auto;
  margin-right: auto;
}

h1{
padding:50px;
font-family: Algerian;
color: #99722b;
text-align:center;

}

.ABC{
font-family: Algerian;
color: #99722b;
text-align:center;
}