.hg{

 position:relative;

}

#head{
background-color: red;
  color:white;
width:90%;
padding:7px;
}


.img1{
background-color: #F8F8F8;
width:25%;
float:left;

  color:#4C4C4C;
bottom:20px;
}

.img2{
background-color: #F8F8F8;
width:25%;
float:left;
margin-top:0px;
  color:#4C4C4C;
bottom:10px;

}
.img3{
background-color: #F8F8F8;
width:25%;
float:left;
  color:#4C4C4C;
bottom:0px;
}


{
 position: absolute;
width:10%;
height:15px;
  bottom: 35px;
  background-color:solid black;
  color: red;
  }

